<h1>Project Xavier</h1>
<h2>Food Good</h2>
<p>Located in the Headhouse "Great Hall" 100' high ceiliings grandeur and elegance, graciously restored and award winning ... pioneers in authenticity and curating a uniquely Chicago</p>

<%= image_tag 'Chicago_Skyline.jpg' %>

<ol>
  <li>Food</li>
  <li>Music</li>  
  <li>Market</li>
  <li>Beer Hall</li>  
</ol>

<%= link_to 'Home', root_path %>