<div class= "center jumbotron">
<h1>The Test Run Project Website</h1>
<p3>est. 1925</p3>
<h2>Chicago's Iconic Transit Hub - Transforms into the Heart of - A 21st Century Neighborhood</h2>
<%= link_to "Sign Up Now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
<p>Four block redevelopment centered around a landmark redevelopment of the 1925 Headhouse... no longer a place to pass through, but a destination in its own rights</p>


<ol>
  <li>Concourse</li>
  <li>Retail - the right side of the tracks</li>
  <li>Public Spaces</li>
  <li>Experiences</li>
  <li>Events</li>
  <li>Office</li>  
  <li>Hotel</li>
  <li>Station House Apartments</li>
  <li>History</li>  
  
</ol>

<%=link_to 'Alpha Blog', articles_path %> | <%=link_to 'About', about_path %>

end